/* .background{ */
    /* background-color: gray; */
/* } */

body {
    background: url("https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?size=626&ext=jpg&ga=GA1.2.1356671263.1662110361");
}

.fullnavbar{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 50px 0px 50px;
}

.navbar{
    display: flex;
    /* gap: 50px; */
    margin-left: 140px;
}

.L1, .L2, .L3, .L4, .L5, .L6 {
    margin-right: 25px;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color:black;
    align-items:center;
}


.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px 100px 100px;
}

.lasttext{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

.L1{
 font-weight: bold;
 text-decoration: none;
}

.L2{
    font-weight: bold;
    text-decoration: none;
}

.L3{
    font-weight: bold;
    text-decoration: none;
}

.L4{
    font-weight: bold;
    text-decoration: none;
}
.L5{
    font-weight: bold;
    text-decoration: none;
}