.image1{
    display: flex;
    height: 200px;
    width: 130px;
}

.image2{
    display: flex;
    height: 200px;
    width: 130px;
}

.image3{
    display: flex;
    height: 200px;
    width: 130px;
}


.image4{
    display: flex;
    height: 200px;
    width: 130px;
}

.image5{
    display: flex;
    height: 200px;
    width: 130px;
}

.image6{
    display: flex;
    height: 200px;
    width: 130px;
}

.image7{
    display: flex;
    height: 200px;
    width: 130px;
}

.image8{
    display: flex;
    height: 200px;
    width: 130px;
}


.image9{
    display: flex;
    height: 200px;
    width: 130px;
}

.image10{
    display: flex;
    height: 200px;
    width: 130px;
}

.btn{
    display: flex;
    box-shadow: none !important
    

}


.sea{
    display: flex;
    width: 20px;
    height: 20px;
    
}